<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0" ng-if="false">
	<div class="navbar-header">
		<a class="navbar-toggle" toggle="collapse" target=".navbar-collapse" style="position: absolute; border: none; color: #fff">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar" style="background-color: #fff"></span>
			<span class="icon-bar" style="background-color: #fff"></span>
			<span class="icon-bar" style="background-color: #fff"></span>
		</a>
		<a class="navbar-brand" style="color: #fff; width: 100%; text-align: center; font-size: 16px; font-weight: bold">LocalSecrets.Club</a>
		<ul class="nav navbar-top-links" style="position: absolute; right: 0">
			<li class="dropdown" uib-dropdown="">
				<a class="dropdown-toggle" uib-dropdown-toggle="" style="cursor: pointer">
					<i class="fa fa-fw fa-user"></i>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-user" uib-dropdown-menu="">
					<li><a ng-click="nav.logout()"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
